/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/08/2016, 09:13:39 PM
    Author     : sebas
*/

body {  
}  
.dropdown  
{  
    color: #0090A5;  
    margin: 3px -22px 0 0;  
    width: 143px;  
    position: relative;  
    height: 17px;  
    text-align:left; 
    
}  
.submenu  
{  
    background: #fff;  
    position: absolute;  
    top: -12px;  
    left: -20px;  
    z-index: 100;  
    width: 135px;  
    display: none;  
    margin-left: 10px;  
    padding: 40px 0 5px;  
    border-radius: 6px;  
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);  
}  
.dropdown li a  
{  
    color: #555555;  
    display: block;  
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;  
    text-decoration:none;  
    height: 100%;
}  

.dropdown li a:hover  
{  
    background:#0090A5;
    color: #FFFFFF;  
    text-decoration: none;  
}  
a.mainmenu  
{  
    font-size: 17px;  
    line-height: 16px;  
    color: #0090A5;  
    position: absolute;  
    z-index: 110;  
    display: block;  
    padding: 5px 0 0 10px;  
    margin: -11px 0 0 -10px;  
    text-decoration: none;  
    background: url(icons/arrow.png) 116px 17px no-repeat;  
    cursor:pointer;  
    height: 100%;
}  
.menuitems  
{  
    list-style:none;  
    margin:0px;  
    padding:0px;  
    font-size: 11px;  
    padding: 3px 0 0 0px;  
    border-top:1px solid #dedede;  
}  

 
.toggle-login  
{  
    display: inline-block;  
    *display: inline;  
    *zoom: 1;  
    height: 13px;  
    line-height: 25px;  
    font-weight: normal;
    padding-top: 30px; 
    text-decoration: none;  
    text-shadow: 0 1px 0 #fff;  
}  
